<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="view/css/style.css"/>

    <title>Météo par IP</title>
</head>
<body>

    <div class="bloc">
        <h1>Météo</h1>
    </div>
    <div class="bloc">
        <label for="ville">Ville: </label><input type="text" placeholder="Tapez une ville" id="ville" class="align" name="ville" value=""/><br>
    </div>
    <div class="bloc">
        <span id="temperature">Chargement en cours...</span>
    </div>
    <div class="bloc align">
        <img src="" id="wi">
    </div>

<script src="view/js/app.js"></script>
</body>
</html>
